.Reminders {
    text-align: center;
    padding: 2vh 5vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.reminderCard {
    background-color: #dadafc;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.3s;
    width: 250px;
    margin: 10px;
}

.reminderCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 3vh;
}