.Header {
    position: relative;
    background-color: #617499;
    color: white;
    height: 10vh;
    width: 100vw;
    font-family: Jazz LET, fantasy;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.companyName {
    align-items: center;
    font-size: 4.7vh;
    margin-top: 1.6vh;
    margin-left: 3.5vw;
}

.allLinks {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    font-size: 3.6vh;
    padding-top: 1.8vh;
}

.links{
    color: #ffd6aa;
    text-decoration: none;
    margin-left: 2vw;
    margin-right: 2.7vw;
}